<h2>Bill Providers</h2>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Bill Provider</th>
      <th>Payment Source</th>
      <th>Reoccurrence</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Reliance Home Comfort</td>
      <td>Credit Card (MBNA MC)</td>
      <td>Monthly on the 31st</td>
    </tr>
    <tr>
      <td>Hydro One</td>
      <td>Bank Account</td>
      <td>Monthly on the 15th</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary float-right" 
    [hidden]="!displayAddProviderButton"
    [routerLink]="['add']"
    value="Add Provider">
  Add Provider
</button>