<h2>What is PinBill?</h2>

<img src="assets/images/invoice.jpg" class="rounded float-right ml-3 mr-3 d-none d-sm-block drop-shadow-filter" width="30%" alt="invoice" />

<p>PinBill allows you to keep track of your all recurring and one-time bills and "pin" them as events in your Google
    calendar in a few easy steps:</p>
<ol>
  <li><a [routerLink]="['user', 'login']">Create a PinBill account</a></li>
  <li>Connect your Google calendar to your account (requires signing in with Google)</li>
  <li>Add a bill provider</li>
  <li>Setup a recurring or one-time bill for that bill provider</li>
</ol>

